<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
	<title>Instant Search-Angular JS</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>

<body ng-controller="myController" ng-cloak>
<div class="container">
  <h2 class="text-center">Instant Search - Angular JS</h2>
  	<input type="text" ng-model="search" class="form-control" placeholder="Search Here by Anything"><hr>           
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>SL</th>
        <th>Country Name</th>
        <th>Country Code</th>
        <th>Dial Code</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in allCountry | filter : search">
        <td>{{ $index+1 }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.code }}</td>
        <td>{{ row.dial_code }}</td>
      </tr>      
    </tbody>
  </table>
</div>

<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</body>
</html>